:root {
  --color-principal: #00c99d;      /* color de fondo de botones, bordes, etc */
  --color-principal-action: #009e7c; /* color al pasar ratón */
  --color-fondo: #e1fff9;          /* fondo de body */
  --color-button-disabled: #84b1a7;
  --color-pinta: #005543;
}

#menuBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000; /* para que quede por encima de todo */
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* Usa el 100% de la altura de la pantalla */
  margin: 0; /* Elimina cualquier margen por defecto */
  background-color: var(--color-fondo); /* Color de fondo */
}

#app {
  text-align: center;
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del contenido */
}

table {
  width: 80%; /* La tabla ocupará el 80% del ancho disponible */
  border-collapse: collapse; /* Para evitar el espacio entre las celdas */
  margin-bottom: 20px; /* Espacio debajo de la tabla */
}

th, td {
  padding: 8px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
}

.btn {
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: var(--color-principal); /* Color de fondo */
  color: black; /* Color del texto */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cursor de puntero */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--color-principal-action); /* Color de fondo cuando pasas el ratón */
}

.btn:disabled {
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: var(--color-button-disabled); /* Color de fondo */
  border: none; /* Sin bordes */
  cursor: not-allowed; /* Cursor de puntero */
  margin-top: 20px; /* Espacio encima del botón */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 10px; /* Bordes redondeados */
}

input {
  height: 29px;
  padding-left: 10px;
  border: 2px solid var(--color-principal); /* Borde de 2px y color verde */
  border-radius: 10px; /* Bordes redondeados */
  outline: none; /* Elimina el borde azul que aparece al hacer clic (si no lo deseas) */
  font-size: 16px; /* Tamaño del texto dentro del input */
  background-color: transparent;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: var(--color-principal-action); /* Color más oscuro para el borde cuando el input tiene foco */
}

.error {
  color: rgb(165, 0, 0);
  font-size: 12px;
  display: none;
}

input[type="number"] {
  height: 20px;
  width: 50px;           /* Ajusta el tamaño del campo de entrada */
  padding: 5px;          /* Ajusta el espaciado interno */
  font-size: 16px;       /* Cambia el tamaño de la fuente */
  text-align: center;    /* Centra el número */
  border: 2px solid var(--color-principal); /* Borde de 2px de color verde */
  border-radius: 10px;   /* Bordes redondeados */
  transition: border 0.2s ease-in-out;
  margin-left: 10px;
}

input[type="number"]:focus {
  border: 2px solid var(--color-principal-action);
}

.btnpng {
  background-color: var(--color-principal); /* Color de fondo */
  color: black; /* Color del texto */
  border: 3px solid transparent; /* Sin bordes */
  cursor: pointer; /* Cursor de puntero */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.2s ease-in-out;
}

.btnpng:hover {
  background-color: var(--color-principal-action); /* Color de fondo cuando pasas el ratón */
}

.selected {
  border: 3px solid var(--color-pinta); /* Color dorado para el borde */
}

.card {
  border: 2px solid var(--color-principal);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.grid-temas {
  display: grid;
  grid-template-columns: repeat(3, 80px); /* 3 columnas de 80px */
  gap: 15px; /* espacio entre círculos */
  justify-content: center; /* centrar horizontalmente el grid */
  margin-top: 20px;
}

.color-circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: transform 0.2s, border 0.2s;
}

.color-circulo:hover {
  transform: scale(1.1);
  border: 3px solid #333;
}